<a class="list-group-item list-group-item-action align-items-center" href="@Href" target="@Target">
    <div class="d-flex w-100 justify-content-between">
        <p class="text-break link-list-item-title">@Title</p>
        @if (string.IsNullOrWhiteSpace(Tip))
        {
            <i class="bi bi-chevron-right"></i>
        }
        else
        {
            <span class="@($"badge bg-{TipBackground} rounded-pill")">@Tip</span>
        }
    </div>
    @if (!string.IsNullOrWhiteSpace(Summary))
    {
        <p class="mb-1">@Summary</p>
    }
    @if (!string.IsNullOrWhiteSpace(Footer))
    {
        <small>@Footer</small>
    }
</a>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Tip { get; set; } = string.Empty;

    [Parameter]
    public string TipBackground { get; set; } = "primary";

    [Parameter]
    public string Href { get; set; } = string.Empty;

    [Parameter]
    public string Summary { get; set; } = string.Empty;

    [Parameter]
    public string Footer { get; set; } = string.Empty;

    [Parameter]
    public string Target { get; set; } = "_self";
}
