<li class="nav-item">
    @if (Disabled)
    {
        <a class="nav-link disabled" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">@Title</a>
    }
    else
    {
        if (string.IsNullOrWhiteSpace(Href))
        {
            <a class="nav-link" @onclick="@(async () => await (Click?.Invoke() ?? Task.CompletedTask))" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">@Title</a>
        }
        else
        {
            <a class="nav-link" href="@(Href)" @onclick="@(async () => await (Click?.Invoke() ?? Task.CompletedTask))" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">@Title</a>
        }
    }
</li>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public bool Disabled{ get; set; }

    [Parameter]
    public string Href { get; set; } = string.Empty;

    [Parameter]
    public Func<Task>? Click{ get; set; }
}
