@page "/articles"

@using Resader.Common.Api.Response
@using Resader.Common.Extensions
@using Resader.Wasm.Extensions

@inject NavigationManager nav
@inject HttpClient http
@inject JsService jsService

<div>
    <NavHeader Title="@title" Operation="取消订阅" Operate="@Unsubscribe"></NavHeader>
    <LinkList Load="@Load">
        @foreach (var article in articles)
        {
            <LinkListItem Title="@article.Title" Href="@article.Url" Summary="@article.Summary" 
                Footer="@article.Published.ToString("yyyy-MM-dd")" Target="_blank"></LinkListItem>
        }
    </LinkList>
</div>

@code {
    private string id = string.Empty;
    private string title = string.Empty;
    private UserResponse? user;
    private int page = 0;
    private List<ArticleResponse> articles = new List<ArticleResponse>();
    private bool finished;

    protected override async Task OnInitializedAsync()
    {
        id = nav.GetQueryParameter("id");
        title = nav.GetQueryParameter("title");
        var json = await jsService.GetItem("user");
        user = json.ToObj<UserResponse>();
        if (user == null)
        {
            nav.NavigateTo("./login");
            return;
        }

        await base.OnInitializedAsync();
    }

    private async Task Unsubscribe()
    {
        if (await jsService.Confirm($"确定取消订阅{title}？"))
        {
            if (!http.DefaultRequestHeaders.TryGetValues("token", out var values))
            {
                http.DefaultRequestHeaders.Add("token", user!.Token);
            }
            var response = await http.PostAsJsonAsync("./rss/Unsubscribe", new string[] { id });
            var result = await response.ReadAsObj<Result>();
            if (result?.Code == 0)
            {
                nav.NavigateTo("./");
            }
            else
            {
                await jsService.Alert("取消订阅失败");
            }
        }
    }

    private async Task Load()
    {
        if (finished)
        {
            return;
        }

        if (!http.DefaultRequestHeaders.TryGetValues("token", out var values))
        {
            http.DefaultRequestHeaders.Add("token", user!.Token);
        }
        var response = await http.GetAsync($"./rss/Articles?feedId={id}&page={page}&pageSize=30");
        if (response.IsSuccessStatusCode)
        {
            page++;
            var result = await response.ReadAsObj<Result<List<ArticleResponse>>>();
            if (result.Data.Count < 30)
            {
                finished = true;
            }
            articles.AddRange(result.Data);

            StateHasChanged();
        }
    }
}
